@import "react-slideshow-image/dist/styles.css";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.checkout_btn {
  border-radius: 30px;
  background-color: #274494;
  color: #fff;
}

.remover_btn {
  border-radius: 30px;
  background-color: #a02121;
  color: #fff;
}

.remover_btn:hover {
  border-radius: 30px;
  background-color: #601212;
  color: #fff;
}

.circular-btn {
  border-radius: 30px;
}

.add-item {
  border-radius: 30px;
  background-color: #274494;
  color: white;
}

.circular-btn:hover {
  background-color: #111931;
}

.blue-btn {
  border-radius: 30px;
  background-color: #2167a0;
  color: #fff;
}

.pagar-btn {
  border-radius: 30px;
  background-color: #145b3e;
  color: #fff;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.primary {
  background-color: #1E1E1E;
  color: #fff;
}

.secondary {
  background-color: #ffffff;
  color: #3A64D8;
}

.info {
  background-color: #fff;
  color: #1E1E1E;
}

.cart_info {
  background-color: #3A64D8;
  color: #fff;
}